.logoDiv {
  background-color: rgb(110, 173, 245);
  background-size: 100% 100%;
  min-height: 40vh;
}

/*
.logoDiv {
  background-image: url("./Components/BlueprintWeb.JPG");
  background-size: 100% 100%;
  min-height: 40vh;
}
*/